<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PRP - DM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Category 1: Home -->
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
			
            <!-- Category 2: Data -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="additionalPagesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data
                </a>
                <div class="dropdown-menu" aria-labelledby="additionalPagesDropdown">
                    <a class="dropdown-item" href="/list">Report - Daily</a>
                    <a class="dropdown-item" href="#">Report - Monthly</a>
                    <a class="dropdown-item" href="#">Report - Quarterly</a>
                </div>
            </li>	
			
		    <!-- Category 3: Module Incentive -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="additionalPagesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Incentive
                </a>
                <div class="dropdown-menu" aria-labelledby="additionalPagesDropdown">
                    <a class="dropdown-item" href="/upload">Channel - Dist</a>
                    <a class="dropdown-item" href="#">Channel - MBS</a>
                    <a class="dropdown-item" href="#">Channel - RCRM</a>
                </div>
            </li>
						
			<!-- Category 4: Module KPI -->
            <li class="nav-item">
                <a class="nav-link" href="#">KPI</a>
            </li>

			<!-- Category 4: Module GCEO -->
            <li class="nav-item">
                <a class="nav-link" href="#">GCEO</a>
            </li>			




        </ul>
    </div>
</nav>